<div class="container">
  <div class="side-panel">
    @if(this.user.profilePicture != null || this.user.profilePicture === ""){
    <img [src]="this.user.profilePicture" matTooltip="Change image" />
    } @else {
    <img src="../../../assets/no-profile-picture.png" matTooltip="Change image" />
    }
    <span>
      <h1>{{user.name}} {{ user.lastName}}</h1>
      <h4><i>{{user.quote}}</i></h4>
    </span>
    <button mat-stroked-button [disableRipple]="true">Edit profile</button>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="content-panel">
    <st-image-grid [images]="this.user.pictures"/>
  </div>
</div>