<div class="tw-m-4">
  <h2 mat-dialog-title>Transaction</h2>
  <mat-dialog-content>
    <p>Name:</p>
    <mat-form-field class="tw-w-full">
      <input matInput [(ngModel)]=" transaction.name" required="true">
    </mat-form-field>
    <p>Date:</p>
    <mat-form-field class="tw-w-full">
      <input matInput [matDatepicker]="picker" [(ngModel)]="transaction.date">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <p>Category:</p>
    <mat-form-field class="tw-w-full">
      <input matInput [(ngModel)]="transaction.category">
    </mat-form-field>
    <p>Price (€)</p>
    <mat-form-field class="tw-w-full">
      <input matInput type="number" [(ngModel)]="transaction.priceInEuro">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="transaction" color="primary">
      <mat-icon>save</mat-icon>Save</button>
    <button mat-raised-button (click)="cancel()" color="warn">
      <mat-icon>cancel</mat-icon>Cancel</button>
  </mat-dialog-actions>
</div>